<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Employees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EmployeesMacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD159F581EB4C249000FF326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2ABCF81EBCFDE8002CE83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4BA0AD1E958C6200E6BEA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD97067E1E9DD90B009A84F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
